* @Jayetheus @aytee-80
/src/app/ @Ipeleng-Modise @aytee-80
/src/components/ @Ipeleng-Modise
/src/lib/auth/ @Jayetheus @aytee-80
/src/lib/db/ @Jayetheus @aytee-80
/src/lib/tenancy/ @Jayetheus @aytee-80
/src/app/api/ @Jayetheus @aytee-80
/docs/architecture/ @Jayetheus
/docs/security/ @Jayetheus
